@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
body {
    background: linear-gradient(90deg, rgb(111, 141, 194) 0%, rgb(82, 92, 184) 50%);
    font-family: "Noto Kufi Arabic", system-ui;
}

.navbar {
    border-bottom: 3px solid #525cb8;
}

.login-page {
    width: 80%;
    padding: 3% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 50%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Noto Kufi Arabic", system-ui;
  outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 15px 0 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
  font-family: "Noto Kufi Arabic", system-ui;
  text-transform: uppercase;
    outline: 0;
    background: #525cb8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #525cb8;
}

.alertMessage {
    color: red;
    font-size: 12px;
    text-align: right;
}

.hidden {
    display: none;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    color: #525cb8;
    text-decoration: none;
}
